<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        User <%= username %>
    </title>
</head>

<body>
    <h1>User data</h1>
    <h3>
        Fullname: <%= fullname %>
    </h3>
    <h3>
        Username: <%= username %>
    </h3>
    <h3>
        Email: <%= email %>
    </h3>
    <h3>
        Role: <%= role %>
    </h3>
    <h3>
        Last logged in: <%= lastLogin %>
    </h3>
</body>

</html>