<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Result for <%= name %>
    </title>
</head>

<body>
    <h1>Result of  <%= name %>  </h1>

    <h2>All subject marks</h2>

    <p>Maths <%= maths %> </p>
    <p>English  <%= english %> </p>
    <p>Science <%= science %> </p>

    <p>Total marks <%= total %> </p>

    <p>Percentage <%= percentage %> </p>

    <h1>Grade <%= grade %> </h1>

</body>

</html>